/* ===== Theme variables ===== */

:root {
  /* デフォルト (White) */
  --bg-color: #ffffff;
  --bg-color-rgb: 255, 255, 255;
  --text-color: #333333;
  --accent-color: #ff7f7f;
  --transition-speed: 0.3s;
}

/* setTheme("black") に対応 */
[data-theme="black"] {
  --bg-color: #0b0b0b;
  --bg-color-rgb: 11, 11, 11;
  --text-color: #eeeeee;
  --accent-color: #3fd1c6;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color var(--transition-speed) ease,
    color var(--transition-speed) ease;
}

/* 全要素にトランジションを適用 */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color var(--transition-speed) ease,
    color var(--transition-speed) ease,
    border-color var(--transition-speed) ease;
}

/* ボタンなどのインタラクション要素 */
button,
select,
a {
  transition: all 0.2s ease;
}

/* .virtuoso-grid-item {
  aspect-ratio: 1/1;
} */
